name: deploy docs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: copy newdocs into docs
      run: cp newdocs/*.html docs/
      
    - name: Deploy to gihub pages
      uses: JamesIves/github-pages-deploy-action@3.7.1
      with:
        BRANCH: main
        FOLDER: docs/

